# ==============================================
# Common SEPolicy Rule
# ==============================================


# Date: 2019/09/11
# Purpose: Allow atmwifimeta apk to use HIDL and access loghidlvendorservice
hal_client_domain(system_app, hal_mtk_log)
