# ==============================================
# Policy File of /system/bin/mtkbootanimation Executable File

# ==============================================
# Type Declaration
# ==============================================
#bootanimation oneshot service
type mtkbootanimation, domain;
