# ==============================================
# Common SEPolicy Rule
# =============================================
# Purpose : allow vendor_shell to run aeev
allow vendor_shell aee_aedv_exec:file x_file_perms;
